body {
	background-image: url("../images/spooky.png");
	text-align: center;
    font-size: 40px;
    font-weight: bolder;
    opacity: 0.7;
}

#header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#content-container{
    background: black;
    color: white;
}

.pick:hover {
    background: green;
    color: white;
    padding: 10px;
}

#physical-question {
    border: white;
    border-width: 3px;
}